/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('/theme/fonts/lato-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lato Regular'), local('Lato-Regular'),
       url('/theme/fonts/lato-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/theme/fonts/lato-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/theme/fonts/lato-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/theme/fonts/lato-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/theme/fonts/lato-v14-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('/theme/fonts/lato-v14-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Lato Bold'), local('Lato-Bold'),
       url('/theme/fonts/lato-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/theme/fonts/lato-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/theme/fonts/lato-v14-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/theme/fonts/lato-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/theme/fonts/lato-v14-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url('/theme/fonts/lato-v14-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Lato Italic'), local('Lato-Italic'),
       url('/theme/fonts/lato-v14-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/theme/fonts/lato-v14-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/theme/fonts/lato-v14-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('/theme/fonts/lato-v14-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/theme/fonts/lato-v14-latin-italic.svg#Lato') format('svg'); /* Legacy iOS */
}

/* saira-regular - latin */
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 400;
  src: url('/theme/fonts/saira-v2-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Saira Regular'), local('Saira-Regular'),
       url('/theme/fonts/saira-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/theme/fonts/saira-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/theme/fonts/saira-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/theme/fonts/saira-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/theme/fonts/saira-v2-latin-regular.svg#Saira') format('svg'); /* Legacy iOS */
}

body, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

.page-header h1 {
  font-family: "Saira", sans-serif;
  font-weight: 400;
}

@media (min-width: 1500px) {
  .container {
    width: 1400px;
  }
}

.my-list-style {
    margin-left: 0;
}

.aw-bottom {
    padding: 2em;
}

.aw-footer {
    margin-top: 2em;
    border-top: 2px solid lightgrey;
    border-bottom: 2px solid lightgrey;
/*    height: 250px;*/
    padding-top: 2em;
    padding-bottom: 2em;
}

.aw-footer li {
    line-height: 200%;
}

.summary {
    margin-bottom: 2em;
    margin-top: 2em;
}

.summary pre { display: none; }

.article-body {
    margin-top: 2em;
}

.article-title {
    margin-bottom: 1em;
}

.article-header {
    margin-bottom: 1em;
}

/**
 * Overrides of notebook CSS for static HTML export
**/
div.entry-content {
	overflow: visible;
	padding: 8px;
}

.inner_cell {
	width: 100%;
}

.input_area {
	padding: 0.2em;
}

a.heading-anchor {
	white-space: normal;
}

.rendered_html code {
	font-size: .8em;
}

pre.ipynb {
	color: black;
	background: #f7f7f7;
	border: none;
	box-shadow: none;
	margin-bottom: 0;
	padding: 0;
	margin: 0px;
	font-size: 13px;
}

/* remove the prompt div from text cells */
.prompt {
	display: none;
}

/* remove horizontal padding from text cells, */
/* so it aligns with outer body text */
div.text_cell_render {
	padding: 0.5em 0em;
}

img.anim_icon {
	padding: 0;
	border: 0;
	vertical-align: middle;
	-webkit-box-shadow: none;
	-box-shadow: none;
}

div.collapseheader {
	width: 100%;
	background-color: #d3d3d3;
	padding: 2px;
	cursor: pointer;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}


.admonition {
  padding: 9px 9px;
  font-size: 18px;
}

.adm-center {
    text-align: center;
}

